<h3><%= @band.name %></h3>
<h4>Genre: <%= @band.genre %></h4>

<h5>Where <%= @band.name %> has played</h5>
<% if @band.venues.any?() %>
  <ul>
  <% @band.venues.each do |venue| %>
      <li><%= venue.name %> -- <%= venue.city %></li>
  <% end %>
  </ul>
<% else %>
  <p><%= @band.name %> hasn't played in any venues yet...that we know of.</p>
<% end %>



  <form action='/bands/<%= @band.id %>' method='post'>


  <label for='venue'>Choose some venues:</label>
  <select id='venue' name='venue' type='text'>

    <% @venues.each do |venue| %>
        <option value='<%= venue.id %>'><%= venue.name %></option>
      <% end %>
  </select>

  <input type='submit' />
  <!-- <button class='btn-default'>Submit</button -->
  </form>



<h5>Edit the band's info:</h5>
<form action='/bands/<%= @band.id %>' method='post'>
  <input name='_method' type='hidden' value='patch'>

  <label for='name'>New Name:</label>
  <input id='name' name='name' type='text' value='<%= @band.name %>'>

  <label for='genre'>New Genre:</label>
  <input id='genre' name='genre' type='text' value='<%= @band.genre %>'>

  <button class='btn-default'>Submit</button>
</form>

<form action='/bands/<%= @band.id %>' method='post'>
  <input name='_method' type='hidden' value='delete'>
  <button id='delete_band' class='btn-danger'>Delete Band</button>
</form>
